{{#extends 'base'}}

{{#block 'content'}}

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Plot</th>
        </tr>
    </thead>

    {{#each movies}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.plot}}</td>
        <td>
            <a href = "/edit/movie/{{this.id}}" class="btn btn-primary btn-sm">Edit</a>
            <a href = "/delete/movie/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}



</table>

{{/block}}

{{/extends}}