{{#extends 'base'}}
{{#block 'content'}}

<h1>Add New Pet Record</h1>
<form method='POST'>
    <div>
        <label>Pet Name:</label>
        <input type="text" class="form-control" name="petName">
    </div>
    <div>
        <label>Breed:</label>
        <input type="text" class="form-control" name="breed">
    </div>
    <div>
        <label>Description:</label>
        <input type="text" class="form-control" name="description">
    </div>
    <div>
        <label>Age:</label>
        <input type="text" class="form-control" name="age">
    </div>
    <div>
        <label>Problems:</label>
        <input type="text" class="form-control" name="problems">
    </div>
    <div>
        <label>HDB approved</label>
        <input type="radio" name="hdbApproved" class="form-check-input" value="true">
        <label class="form-check-label">True</label>
        <input type="radio" name="hdbApproved" class="form-check-input" value="false">
        <label class="form-check-label">False</label>
    </div>
    <div>
        <label>Tags:</label>
        <input name="tags" type="checkbox" class="form-check-input" value="house-broken">
        <label class="form-check-label">House broken</label>
        <input name="tags" type="checkbox" class="form-check-input" value="vaccinated">
        <label class="form-check-label">Vaccinated</label>        
        <input name="tags" type="checkbox" class="form-check-input" value="chipped">
        <label class="form-check-label">Chipped</label>
        <input name="tags" type="checkbox" class="form-check-input" value="fixed">
        <label class="form-check-label">Fixed</label>
    </div>
    <div>
        <input type="submit" class="btn btn-primary mt-3"/>
    </div>  
</form>


{{/block}}
{{/extends}}