{{#extends 'base'}}
{{#block "content"}}
<ul>
    <li>Food Name:{{foodName}}</li>
    <li>Food Name:{{foodName}}</li>
    <li>Food Name:{{foodName}}</li>
    <li>Food Name:{{foodName}}</li>

</ul>
{{/block}}
{{/extends}}